<ng-container *ngIf="posts$ | async as Posts">
  <ng-container *ngIf="Posts.status === 'SUCCESS'">
    <ul
      class="list-group"
      *ngFor="let user of Posts.collection.data | keyvalue: unsortedOrder"
    >
      <li class="list-group-item d-flex justify-content-between">
        <span class="my-auto">
          {{ user.value.ID }} - {{ user.value.TITLE }}
        </span>

        <a class="btn btn-danger"> Delete </a>
      </li>
    </ul>

    <div class="my-4"></div>

    <div class="d-flex justify-content-between">
      <button
        class="btn btn-secondary"
        (click)="onPrevious(Posts.collection.meta.pagination.page)"
      >
        Previous
      </button>

      <button class="btn btn-primary" (click)="onNext()">Next</button>
    </div>
  </ng-container>

  <ng-container *ngIf="Posts.status === 'LOADING'">
    <app-tai-chi-loading></app-tai-chi-loading>
  </ng-container>

  <ng-container *ngIf="Posts.status === 'FAILURE'">
    <h1>Something went wrong...</h1>
  </ng-container>

  <div class="my-4"></div>
</ng-container>
